<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.veontomo.itaproverb"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/owl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <activity
            android:name=".activities.ActShowSingle"
            android:label="@string/title_act_show_single">
        </activity>
        <activity
            android:name=".activities.ActSettings"
            android:label="@string/action_settings">
        </activity>
        <activity
            android:name=".activities.ActProverbDay"
            android:label="@string/title_act_proverb_day">
        </activity>
        <activity
            android:name=".activities.ActOracle"
            android:label="@string/title_act_proverb_oracle">
        </activity>
        <activity
            android:name=".activities.ActFavoriteProverbs"
            android:label="@string/title_act_favorites">
        </activity>
        <activity
            android:name=".activities.ActAllProverbs"
            android:label="@string/title_act_all">
        </activity>
        <activity
            android:name=".activities.ActDispatch"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs "com.example.myapp://" -->
                <data android:scheme="com.example.myapp://"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActDelete"
            android:label="@string/title_act_delete"/>
        <activity
            android:name=".activities.ActEdit"
            android:label="@string/title_act_edit">
        </activity>
        <activity
            android:name=".activities.ActShare"
            android:label="@string/title_act_facebook_share">
        </activity>

        <receiver android:name='.AlarmReceiver'>
        </receiver>
    </application>

</manifest>
