<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veontomo.itaproverb" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/owl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DispatcherActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.ActShowSingle"
            android:label="@string/title_activity_ashow_single" >
        </activity>
        <activity
            android:name=".activities.ActShowMulti"
            android:label="@string/title_activity_act_show_multi" >
        </activity>
        <activity
            android:name=".activities.ActManagerPanel"
            android:label="@string/title_activity_manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActSearch"
            android:label="@string/title_activity_act_search" >
        </activity>
    </application>

</manifest>
